@page "/employees"
@inherits EmployeeListBase
@using BlazorComponents
@attribute [Authorize]

<h3>
    <em>
        Employees
    </em>
    <a class="btn btn-secondary" href="EditEmployee/new">
        <span class="oi oi-plus"></span> New
    </a>
</h3>

<hr />

@if (paginatedList.Items == null)
{
    <div class="spinner"></div>
}
else
{
    <table class="table table-borderless table-responsive-md table-striped">
        <thead>
            <tr>
                <th>Action</th>
                @*<th>#Emp. No.</th>*@
                <th><span  @onclick="@(() => Sort("EmployeeNumber"))">#Emp. No. </span> <i class="@(SortIndicator("EmployeeNumber"))"></i></th>
                <th><span @onclick="@(() => Sort("FirstName"))">Name </span><i class="@(SortIndicator("FirstName"))"></i></th>
                @*<th>Name</th>*@
                @*<th>Email-ID</th>*@
                <th><span @onclick="@(() => Sort("EmailID"))">Email-ID </span><i class="@(SortIndicator("EmailID"))"></i></th>
                @*<th>Branch</th>*@
                <th><span @onclick="@(() => Sort("Region"))">Branch </span><i class="@(SortIndicator("Region"))"></i></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var employee in paginatedList.Items@*objEmployees*@)
            {
                <tr>

                     <td>
                            <div class="btn-group-sm ">
                                <a class="btn btn-secondary " href="EditEmployee/@employee.EmployeeID">
                                    <span class="oi oi-pencil"></span> Edit
                                </a>
                                <a type="" class="btn  btn-secondary" href="EmployeeDetails/@employee.EmployeeID">
                                    <span class="oi oi-eye" aria-hidden="true"></span> Details
                                </a>
                            </div>


                    </td>

                        <td>@employee.EmployeeNumber</td>
                        <td>@employee.FirstName @employee.LastName</td>
                        <td>@employee.EmailID</td>
                        <td>@employee.Region</td>

                </tr>
@*<div class="card m-3">
        <div class="card-header">
            <h3>@employee.FirstName @employee.LastName</h3>
        </div>
        <img class="card-img-top imageThumbnail"
             src="@employee.PhotoPath" />
    </div>*@
            }

        </tbody>
    </table>


    <Pager PageIndex=@paginatedList.PageIndex TotalPages=@paginatedList.TotalPages OnClick="PageIndexChanged"
           HasNextPage=@paginatedList.HasNextPage HasPreviousPage=@paginatedList.HasPreviousPage>
    </Pager>

    @*<div class="">
            @foreach (var employee in objEmployees)
            {
                <div class="card m-3">
                    <div class="card-header">
                        <h3>@employee.FirstName @employee.LastName</h3>
                    </div>
                    <img class="card-img-top imageThumbnail"
                         src="@employee.PhotoPath" />
                </div>
            }
        </div>*@
}

@code {

}
